<!--
  Feel
  free
  to
  remove
  these
  styles
  or
  customise
  in
  your
  own
  stylesheet
  👍
  --
  > .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Lexend Deca", sans-serif;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background-color: hsl(244, 38%, 16%);
  overflow: hidden;
  margin: 2rem;
}

.img-comp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-comp {
  position: relative;
}
.img-comp::after {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  background-color: hsla(277, 97%, 35%, 0.575);
}

.content {
  display: flex;
  flex-direction: column;

  padding: 13%;
  gap: 20px;
}

.num-details {
  display: flex;
  gap: 30px;
  padding-top: 60px;
}

.content h1 {
  color: hsl(0, 0%, 100%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75);
}

.bt {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 7px;
}

.lt {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 10px;
  letter-spacing: 1.6px;
}

span {
  color: hsl(277, 64%, 61%);
}

.content p {
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: lighter;
  line-height: 200%;
}

@media only screen and (max-width: 425px) {
  .wrapping {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img-comp {
    order: -1;
  }

  body {
    background-color: yellow;
  }

  .num-details {
    flex-direction: column;
    padding-top: 0;
  }

  .content {
    text-align: center;
  }
}
